<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="com.jlhuang.mapper.UserMapper">
    <!--   必须添加property属性 ，区别于是否加主键-->
    <resultMap id="user" type="User">
        <id column="userid" property="userid" javaType="int" ></id>
        <result column="name" property="name" javaType="String" ></result>
        <result column="password" property="password" javaType="String" ></result>
    </resultMap>
    <!--id的值必须和数据处理层的接口名一致-->
    <!--此处的User-->
    <select id="queryUser" resultType="User">
        select * from  user
        <trim suffixOverrides="and"  prefixOverrides="and">
            <where>
                <if test="userid!=null">
                    and userid = #{userid}
                </if>
            </where>
        </trim>
    </select>
    <select id="queryAllUser" resultType="User">
        select * from user
    </select>

    <update id="updateAllUser" parameterType="list">
        update user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.userid!=null">
                        when userid=#{item.userid}
                        then #{item.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="password =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.userid!=null">
                        when userid=#{item.userid}
                        then #{item.password}
                    </if>
                </foreach>
            </trim>
        </trim>
        where userid in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.userid}
        </foreach>
    </update>
</mapper>