<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>全部ユーザー情報</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>ユーザー情報</h1>
    <table>
        <thead>
            <th>ユーザID</th>
            <th>名前</th>
            <th>パスワード</th>
        </thead>
        <tbody>
            <tr th:each="info: ${allUserInfo}">
                <td><span th:text="${info.userid}">userid</span></td>
                <td><span th:text="${info.name}">name</span></td>
                <td><span th:text="${info.password}">password</span></td>
            </tr>
        </tbody>
    </table>
    <br />
    <nav><a href="/user/change">設定</a></nav>
    <br />
</body>
</html>