<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー情報更新</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>ユーザー情報更新</h1>
<form th:action="@{/user/change_all}" th:object="${userListParam}"
      th:method="post">
    <table>
        <thead>
            <th>ユーザID</th>
            <th>名前</th>
            <th>パスワード</th>
        </thead>
        <tbody>
            <tr th:each="user,itemStat: *{userList}">
                <td>
                    <label th:text="${user.userid}"></label>
                    <input type="hidden" th:field="*{userList[__${itemStat.index}__].userid}"/>
                </td>
                <td>
                    <select th:field="*{userList[__${itemStat.index}__].name}">
                        <option th:each="option : ${optionNames}" th:value="${option}" th:text="${option}" th:selected="${option}==${user.name}"></option>
                    </select>
                </td>
                <td><input type="text" th:field="*{userList[__${itemStat.index}__].password}"/></td>
            </tr>
        </tbody>
    </table>
    <br />
    <input type="submit" value="設定" style="width: 100px;" />
    <br />
</form>
</body>
</html>